﻿@model IEnumerable<ProjectMVC.Models.Manufacturer>
@using ProjectMVC.Helpers

@{
    ViewData["Title"] = "Index";
}

<h1>Manufacturer Index</h1>

@if (User.Identity.IsAuthenticated) {
    @if (User.IsInRole("Admin")) {
        @CustomHelpers.Create("Manufacturers")
    }
}

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dateOfEstablishment)
            </th>
            @if (User.Identity.IsAuthenticated) {
                @if (User.IsInRole("Admin")) {
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateOfEstablishment)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated) {
                        @if (User.IsInRole("User")) {
                            @CustomHelpers.Details("Manufacturers", @item.Id)
                        }
                        @if (User.IsInRole("Admin")) {
                            @CustomHelpers.Control("Manufacturers", @item.Id)
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
