﻿@model ProjectMVC.Models.Product
@using ProjectMVC.Helpers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manufacturer.name)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated) {
        @if (User.IsInRole("Admin")) {
            @CustomHelpers.Edit("Products", @Model.Id);
        }
    }
    <a class="btn-primary btn-sm btn" asp-action="Index">Back to List</a>
</div>
