﻿@model IEnumerable<ProjectMVC.Models.Product>
@using ProjectMVC.Helpers
@{
    ViewData["Title"] = "Index";
}

<h1>Product Index</h1>

@if (User.Identity.IsAuthenticated) {
    @if (User.IsInRole("Admin")) {
        @CustomHelpers.Create("Products")
    }
}

<form asp-controller="Products" asp-action="Index" method="get">
    <p>
        Name: <input type="text" name="name">
    </p>
    <input class="btn-info btn-sm btn" type="submit" value="Search"/>
</form>
<p></p>
<a class="btn-primary btn-sm btn" asp-action="Index">Show all</a>
<p></p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.price)
            </th>
            @if (User.Identity.IsAuthenticated) {
                @if (User.IsInRole("Admin")) {
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated) {
                        @if (User.IsInRole("User")) {
                            @CustomHelpers.Details("Products", @item.Id)
                        }
                        @if (User.IsInRole("Admin")) {
                            @CustomHelpers.Control("Products", @item.Id)
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
